<div class="profiler-container">
    <div id="profiler-previous" class="profiler-nav">
        <a href="javascript:profilerGrid.prevPerson()"></a>
    </div>
    <div class="profiler-content">
        <div class="profiler-img" style="background-image:url(imgs/{{photo}})"></div>
        <div class="profiler-data">
            <p id="data1">Twitter profile: <a href="{{ url }}" target="_blank">{{ data1 }}</a></p>
            <p id="data2">Occupation: {{ data2 }}</p>
            <p id="data3">Category: {{ data3 }}</p>
        </div>
        <div class="profiler-blurb">{{ blurb }}</div>
    </div>
    <div id="profiler-next" class="profiler-nav">
    	<span id="profiler-close">X</span>
        <a href="javascript:profilerGrid.nextPerson()"></a>
    </div>
</div>
